#d1{
    width: 500px;
    height: 200px;
    border: 1px solid;
    border-bottom-color:red ;
    border-top-color:blue ;
    border-right-color: green;
    border-left-color:black ;
    border-radius: 20px;
}