 ul{list-style-type: none; width: 200px;}
li{margin-bottom: 5px;}
 a:link,  a:visited{
    text-decoration: none;
    color: white;
    font: 13px Arial;
    border: 1px solid black;
    display: block;
    padding: 0 5px;
    line-height: 30px;
    background-color: #484848;
    font-weight: bold
}
 a:hover{
    background-color: #fff;
    color: black

}